{
  "extends": "stylelint-config-standard",
  "rules": {
    "import-notation": "string",
    "value-keyword-case": ["lower", {
      "ignoreProperties": ["composes"]
    }],
    "selector-pseudo-class-no-unknown": [true, {
      "ignorePseudoClasses": [
        "export",
        "import",
        "global",
        "local"
      ]
    }],
    "property-no-unknown": [ true, {
      "ignoreProperties": [
        "composes",
        "compose-with"
      ]
    }],
    "selector-class-pattern": null
  }
}
